name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build and export to Docker
      uses: docker/build-push-action@v4
      with:
        context: .
        load: true # Export to Docker Engine rather than pushing to a registry
        tags: my-panel-app:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
